.calendar-container{
    background-color: white;
    box-shadow: 1px 1px 10px #e6e6e6;
    width: 100%;
}

.calendar-table{
    border: none;
}

h2{
    text-align: center;
}

td{
    text-align: center;
}

.empty-col{
    width: 10%;
}

.tableheader{
    width: 18%;
}