.history-container{
    margin-top: 20px;
    background-color: white;
    box-shadow: 1px 1px 10px #e6e6e6;
    width: 100%;
}

table{
    border-collapse: collapse;
    border-radius: 5%;
    margin: 0 auto;
    padding: 0;
    width: 90%;
}

.table-row{
    height: 40px;
    border: 1px solid #ccc;
}

a{
    text-decoration: none;
    color: black;
    text-align: center;
}

.status-column{
    color: white;
    background-color: gray;
    padding: 10px;
    border-radius: 5px;
}

.completed{
    background-color: #3FCC71;
}

.absent{
    background-color: #E16259;
}

@media screen and (max-width: 768px){
    .removable{
        display: none;
    }
}
