.history-container{
    margin-top: 20px;
    background-color: white;
    box-shadow: 1px 1px 10px #e6e6e6;
    width: 100%;
}

table{
    border: 1px solid #ccc;
    border-collapse: collapse;
    border-radius: 5%;
    margin: 0 auto;
    padding: 0;
    width: 90%;
}

table tr{
    height: 40px;
    border: 1px solid #ccc;
}

a{
    text-decoration: none;
    color: black;
    text-align: center;
}
